@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Fira Sans", serif;
}
*{
    margin: 0;
    padding: 0;
}

/* shared styles */
.description{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* banner section styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    padding: 80px 100px;
}
.banner-sub-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;

}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    margin-bottom: 24px;
}
.banner-btn{
    font-weight: 600;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 106, 80);
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}

.first-section{
    margin-top: 50px;
    padding: 0 120px;
}

/* section style */

.first-section h1{
    color: rgb(14, 14, 14);
    font-weight: 700;
    font-size: 40px;
}


/* card section */
.main-card{
    display: flex;
    gap: 24px;
    margin: 50px ;
}

/* card-1 styles */
.card-1{
    background: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.card-1 > div{
    margin-bottom: 33px;
}

.card-1 button{
    background: rgb(84, 144, 245);
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 24px;
}

.card-1 h3{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

/* card-2 styles */
.card-2{
    background: rgb(198, 228, 214);
    border-radius: 16px;
    padding: 32px;
}

.card-2 button{
    background: rgb(9, 161, 92);
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 24px;
}
.card-2>div{
    margin-bottom: 33px;
}

.card-2 h3{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;

}

/* card-3 styles */
.card-3{
    border-radius: 16px;
    padding: 32px;
    background: rgb(247, 235, 207);
}

.card-3 button{
    background: rgb(255, 194, 57);
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 24px;
}

.card-3>div{
    margin-bottom: 33px;
}
.card-3 h3{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}
/* yunus quotes styles */
.yunus-quotes{
    background-image: url("../assets/quote-bg.png");
    background-position:left;
    background-repeat: no-repeat;
    margin-left: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px 24px;
}
.qoutes{
    /* padding: 48px 0px; */
}
.yunus-title{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    margin-top: 4px;
}
.yunus-quotes-title{
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 12px;
}
.news-content h1{
    font-weight: 700;
    font-size: 40px;
}
.news-column{
    display: flex;
    gap: 60px;
    padding: 48px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    border-radius: 24px;
    
}
.news-img img{
    border-radius: 24px;
}
.news-btn{
    padding: 13px 26px;
    background-color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
}
.column-left h3{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.al-jazira>img{
    margin-bottom: 12px;
}
.date-and-time{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.news-description{
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}
